<div class="container-fluid">
    <div class="row">
        <!-- Side Bar Component Loaded according to screen size -->
        <div class="col-sm-2 hidden-xs col-lg-2 col-md-2">
                <sidebar></sidebar>
        </div>
        <div class="hidden-sm hidden-md hidden-lg sidebar-mobile">
            <sidebar></sidebar>
        </div>
        <div class="col-sm-10 col-xs-12 col-lg-10 col-md-10">
            <div class="row">
                <!-- Project Details component-->
                <app-project-details></app-project-details>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
                    <!--Involved Team Component-->
                    <app-involved-team></app-involved-team>
                </div>
                <div class="col-sm-9 col-xs-12 col-md-9 col-lg-9">
                    <!--Manages Activity Component-->
                    <app-managers-activity></app-managers-activity>
                </div>
            </div>
        </div>
    </div>
</div>